:root {
    --c-border-default: #cfdbe0;
    --c-placeholder: #899da8;
    --c-active: #0090d8;
    --c-error: #ff312c;
    --c-success: #15a250;

    --c-primary-red: #c51f1f;
    --c-primary-red-lighter: #ff312c;
    --c-text-white: #ffffff;
    --c-text-black: #222222;
    --c-link-default: #16629a;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

body {
    padding: 0;
    margin: 0;
}

.page-container {
    box-sizing: border-box;
    width: 100%;
    padding: 16px;
}
.page-container--fh {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.page-container--fh > :nth-child(2) {
    margin-bottom: auto;
}
@media (min-width: 768px) {
    .page-container {
        padding: 24px;
    }
    .page-container--fh > :nth-child(2) {
        align-self: center;
        margin-bottom: initial;
    }
}
@media (min-width: 1200px) {
    .page-container {
        display: flex;
        flex-direction: column;
        width: 1120px;
        padding: 32px;
        margin: 0 auto;
    }
}

.page-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
}
@media (min-width: 768px) {
    .page-section {
        height: 620px;
        justify-content: center;
    }
}

.page-header {
    margin-bottom: 40px;
}

/* input */
.text-field__container {
    position: relative;
    box-sizing: border-box;
}

.text-field__input,
.text-field__label {
    font-size: 16px;
}

.text-field__input {
    box-sizing: border-box;
    width: 100%;
    padding: 9px 14px;
    outline: unset;
    border: 1px solid var(--c-border-default);
    border-radius: 10px;
}

.text-field__input:enabled:hover {
    border-color: var(--c-active);
}
.text-field__input--error {
    border-color: var(--c-error);
}
.text-field__input--success {
    border-color: var(--c-success);
}
.text-field__input:disabled {
    opacity: 0.4;
}

.text-field__input:focus + .text-field__label,
.text-field__input:not(:placeholder-shown) + .text-field__label {
    transform: translateY(-44%);
    font-size: 13px;
    background: white;
    height: fit-content;
    padding: 0 8px;
    color: var(--c-placeholder);
}
.text-field__input:focus + .text-field__label {
    color: var(--c-active);
}

.text-field__input:disabled + .text-field__label {
    opacity: 0.4;
}

.text-field__input::placeholder {
    font-size: 0;
}

.text-field__label {
    --transition: 0.15s ease-out;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 6px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    color: var(--c-placeholder);
    transition: font-size var(--transition), transform var(--transition);
    pointer-events: none;
}

.text-field__helper-text {
    font-size: 13px;
    line-height: 16px;
    margin: 0;
    color: var(--c-placeholder);
}
.text-field__helper-text--visible {
    margin-bottom: -16px;
}
.text-field__helper-text--error {
    color: var(--c-error);
}
.text-field__helper-text--disabled {
    opacity: 0.4;
}

@media (min-width: 768px) {
    .text-field__input,
    .text-field__label {
        font-size: 17px;
        line-height: 23px;
    }

    .text-field__input {
        padding: 10px 14px;
        border-radius: 11px;
    }
}

@media (min-width: 1200px) {
    .text-field__input,
    .text-field__label {
        font-size: 18px;
        line-height: 24px;
    }

    .text-field__input {
        padding: 12px 16px;
        border-radius: 12px;
    }

    .text-field__label {
        left: 8px;
    }
}

/* button */
.btn {
    padding: 11px 15px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background-color: var(--c-primary-red);
    border: none;
    box-shadow: 0 2px 2px rgba(117, 142, 161, 0.2),
        0 2px 12px rgba(117, 142, 161, 0.25);
    transition: background-color 0.4s, box-shadow 0.4s;
    color: var(--c-text-white);
}
.btn:enabled:hover {
    background-color: var(--c-primary-red-lighter);
    box-shadow: 0 4px 8px rgba(117, 142, 161, 0.22),
        0 16px 40px rgba(117, 142, 161, 0.26);
    color: var(--c-text-white);
    cursor: pointer;
}

.btn:active {
    background-color: var(--c-primary-red) !important;
    box-shadow: 0 2px 2px rgba(117, 142, 161, 0.2),
        0 2px 12px rgba(117, 142, 161, 0.25) !important;
    color: var(--c-text-white) !important;
}
@media (min-width: 768px) {
    .btn {
        padding: 12px 17px;
        font-size: 15px;
        line-height: 19px;
    }
}
@media (min-width: 1200) {
    .btn {
        padding: 13px 19px;
        font-size: 16px;
        line-height: 21px;
    }
}


.btn:disabled {
    opacity: 0.4;
}

.link {
    text-decoration: none;
    color: var(--c-link-default);
}
.link:hover,
.link:active {
    color: var(--c-active);
}

/* input code */
.otp-input {
    display: flex;
    justify-content: flex-start;
    gap: 14px;
}

/* Chrome, Safari, Edge, Opera */
input.otp-input__field::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input.otp-input__field[type="number"] {
    -moz-appearance: textfield;
}
.otp-input__field {
    box-sizing: border-box;
    width: 56px;
    padding: 16px 20px;
    border: 1px solid var(--c-border-default);
    border-radius: 12px;
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    outline: unset;
    text-align: center;
    background-color: #ffffff;
}
.otp-input__field:enabled:hover {
    border-color: var(--c-active);
}
.otp-input__field::placeholder {
    color: var(--c-placeholder);
    text-align: center;
}
.otp-input__field:disabled {
    opacity: 0.4;
    background-color: #ffffff;
}

.otp-input--success input {
    border-color: var(--c-success);
}
.otp-input--error input {
    border-color: var(--c-error);
}

@media (min-width: 768px) {
    .otp-input__field {
        width: 58px;
        font-size: 20px;
        line-height: 26px;
    }
}

@media (min-width: 1200px) {
    .otp-input__field {
        width: 60px;
        font-size: 22px;
        line-height: 28px;
    }
}

/* form header */
.form-header {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    margin-bottom: 40px;
}
@media (min-width: 768px) {
    .form-header {
        flex-direction: row;
        align-items: center;
        gap: 48px;
        width: 480px;
    }
}
@media (min-width: 1200px) {
    .form-header {
        width: 568px;
    }
}

.form-header__title {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 700;
    color: var(--c-text-black);
    font-size: 27px;
    line-height: 29px;
}

.text-description {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--c-placeholder);
}
.text-description--label {
    margin-bottom: -12px;
}

.small-text {
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: var(--c-placeholder);
}

/* form */
.form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 24px;
}
.form--otp {
    gap: 40px;
}
@media (min-width: 768px) {
    .form {
        width: 480px;
    }
    .form--otp {
        align-items: flex-start;
    }
}
@media (min-width: 1200px) {
    .form {
        width: 568px;
    }
}

.form__submit-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 18px;
    margin-top: 16px;
    margin-bottom: 50px;
}
@media (min-width: 768px) {
    .form__submit-wrapper {
        flex-direction: row;
        align-items: center;
        gap: 24px;
        margin-bottom: 0;
    }
    .form__submit-wrapper > :last-child {
        flex-grow: 2;
    }
}

.form__submit-wrapper small {
    text-align: center;
}
@media (min-width: 768px) {
    .form__submit-wrapper small {
        text-align: left;
    }
}

.confirm-actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 18px;
    margin-top: -22px;
}
.confirm-actions a {
    font-size: 16px;
    line-height: 21px;
    text-align: center;
}
@media (min-width: 768px) {
    .confirm-actions {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
        width: 100%;
        margin-top: -16px;
    }
}

.offset-top--xs {
    margin-top: 8px;
}
.offset-top--sm {
    margin-top: 16px;
}
.offset-top--md {
    margin-top: 24px;
}
.offset-top--lg {
    margin-top: 32px;
}
.offset-top--xl {
    margin-top: 40px;
}
